@using TAS.Resources
@{
    var listData = ((IEnumerable<dynamic>)ViewBag.TotalSystem);
    var objectAgent = listData.Where(x => x.Type == "AGENT").ToList().FirstOrDefault();
    var objectFarm = listData.Where(x => x.Type == "FARM").ToList().FirstOrDefault();
    var objectReportIn = listData.Where(x => x.Type == "REPORTIN").ToList().FirstOrDefault();
    var objectReportOut = listData.Where(x => x.Type == "REPORTOUT").ToList().FirstOrDefault();
}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">@Language.key_tongquan</h5>
                    <div class="dropdown">
                        <a class="avtar avtar-s btn-link-secondary dropdown-toggle arrow-none" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti ti-dots-vertical f-18"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Today</a>
                            <a class="dropdown-item" href="#">Weekly</a>
                            <a class="dropdown-item" href="#">Monthly</a>
                        </div>
                    </div>
                </div>
                <div id="total-income-graph"></div>
                <div class="row g-3 mt-3">
                    <div class="col-sm-6">
                        <div class="bg-body p-3 rounded">
                            <div class="d-flex align-items-center mb-2">
                                <div class="flex-shrink-0">
                                    <span class="p-1 d-block bg-primary rounded-circle">
                                        <span class="visually-hidden"> New alerts </span>
                                    </span>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0"><span class="pc-mtext">@Language.key_tongdaily</span></p>
                                </div>
                            </div>
                            <h6 class="mb-0">
                                @objectAgent.Total
                            </h6>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="bg-body p-3 rounded">
                            <div class="d-flex align-items-center mb-2">
                                <div class="flex-shrink-0">
                                    <span class="p-1 d-block bg-warning rounded-circle">
                                        <span class="visually-hidden"> New alerts </span>
                                    </span>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0"><span class="pc-mtext">@Language.key_tongnhavuon</span></p>
                                </div>
                            </div>
                            <h6 class="mb-0">
                                @objectFarm.Total
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-6">
        <div class="card">
            <div class="card-body">
                <h5 class="mb-3">Báo cáo </h5>
              @*   <h6 class="mb-2 f-w-400 text-muted">This Week Statistics</h6>
                <h3 class="mb-0">$7,650</h3> *@
                <div id="sales-report-chart"></div>
            </div>
        </div>
    </div>
    
</div>

<!-- [ Main Content ] end -->

<script src="../assets/js/plugins/apexcharts.min.js"></script> 
<script>
    var objectAgent = @Json.Serialize(objectAgent);
    var objectFarm = @Json.Serialize(objectFarm);
    var objectReportIn = @Json.Serialize(objectReportIn);
    var objectReportOut = @Json.Serialize(objectReportOut);
    setTimeout(function () {
        loadChartOverview('total-income-graph', 'overview');
        loadChartOverview('sales-report-chart', 'sale');
    }, 500);
</script>
